<div class="iback">
<div class="pusher iback">
  <div class="ui  vertical masthead center aligned {{!-- yellow inverted --}} segment">


    <div class="ui  text container ">
      <h1 class="ui inverted icon header">
        <i class="game icon"></i>
        Dev Say
      </h1>
      <h2 class="ui inverted header">
        Successful Game Devs Stories
      </h2>
      <h3 class="ui inverted header">
        Sign up to get notified when we launch
      </h3>
      <div class="ui huge form">
          <div class="field">
             <input type="text" placeholder="email address">
          </div>

        <div class="fluid ui huge yellow inverted button">Subscribe</div>
      </div>
      
    </div>

  </div>

</div>

</div>