<div class="iback">
<div class="pusher">
  <div class="ui  vertical masthead center aligned {{!-- yellow inverted --}} segment">


    <div class="ui  text container ">
      <h1 class="ui  icon header">
        <i class="game icon"></i>
        Dev Say
      </h1>
      <div class="ui inverted medium  header">
Weekly interviews with successful Game Developers
 sharing the story behind the
  publishing of their game
      </div>
      <div class="ui  yellow small header">
        Sign up to get notified when we launch
      </div>
      <div class="ui huge form">
          <div class="field">
             <input type="text" placeholder="email address">
          </div>

        <div class="fluid ui medium inverted  button">Subscribe</div>
      </div>
      
    </div>

  </div>

</div>

</div>